.menu-language
	position: relative
	+reset-list
	+fluid('margin-left', -10, 35)
	font-size: 14px
	line-height: 2
	@media screen and (max-width: $xl)
		font-size: 13px
		@media screen and (max-width: $lg)
			font-size: 12.5px
	> li
		position: relative
		display: inline-block
		&:not(:last-child)
			margin-right: 5px
			@media screen and (max-width: $lg)
				margin-right: 2px
		a
			display: block
			padding: 4px 6px
			color: var(--color-dark-1)
			border: 2px solid var(--color-dark-1)
			border-radius: 50%
			font-weight: 500
	> li.current-menu-item
		> a
			color: var(--color-accent)
			background: var(--color-dark-2)
			border: 2px solid var(--color-dark-2)
			color: var(--color-light-1)


[data-arts-color-theme='dark']	
	.menu-language
		margin-left: 25px
		li a
			border: 2px solid #fff
			color: #fff
			font-size: 14px
			margin-right: 5px
		> li.current-menu-item
			a
				background: #fff	
				color: var(--color-dark-2)
				