$padding-acordion: 0px

.accordion
	width: 100%
	border: none
	outline: none
	cursor: pointer
	+fluid('font-size', 15, 16)
	font-weight: 500
	padding: 15px 0px
	position: relative
	background: transparent
	border-top: 1px solid #000
	&::before
		content: ''
		position: absolute
		height: 1px
		bottom: 0px
		width: 100%
		left: 0
		right: 0
		margin: 0 auto
		display: block
	.title
		padding-right: 20px
		@media screen and (max-width: $xs)
			padding-right: 15px

	.circle
		border-radius: 10px
		width: 15px
		height: 15px
		position: absolute
		opacity: 0

.accordion:after
	content: '+'
	display: block
	top: 50%
	transform: translateY(-40%)
	position: absolute
	right: 0
	font-weight: 200
	+fluid('font-size', 36, 50)

.accordion.is-open:after
	content: '-'
	+fluid('font-size', 50, 70)

.accordion-content
	max-height: 0
	overflow: hidden
	transition: max-height 0.2s ease-in-out
	> div
		+fluid('padding-top', 20, 50)
		+fluid('padding-bottom', 40, 80)
