.b-solid
	border: 3px solid var(--color-border-solid)
.bt-solid
	border-top: 3px solid var(--color-border-solid)

.br-solid
	border-right: 3px solid var(--color-border-solid)

.bb-solid
	border-bottom: 3px solid var(--color-border-solid)

.bb-solid-1
	border-bottom: 1px solid var(--color-border-solid)

.bb-solid-2
	.js-arts-split-text__line
		border-bottom: 2px solid

.bl-solid
	border-left: 3px solid var(--color-border-solid)

.b-solid-black
	margin: 0px
	> div:first-child
		border-left: 1px solid
	> div
		border-right: 1px solid
		border-color: #000
		border-top: 1px solid
		border-bottom: 1px solid
		padding: 40px 20px 50px
		@media screen and (max-width: $xs)
			border-left: 1px solid

	> div:last-child
		@media screen and (max-width: $md)
			border-left: 1px solid
			margin: 0 auto

.bt-solid-dark-4
	border-top: 1px solid var(--color-dark-4)

.bb-solid-dark-4
	border-bottom: 1px solid var(--color-dark-4)

.b-solid-dark-4
	border: 1px solid var(--color-dark-4)

.br-solid-dark-4
	border-right: 1px solid var(--color-dark-4)

.list-solid-dark-4
	> div:first-child
		border-top: 1px solid var(--color-dark-4)
	> div
		border-bottom: 1px solid var(--color-dark-4)
		padding: 35px 0px
		display: flex
		@media screen and (max-width: $md)
			padding: 25px 0px

	p
		margin: 0
	span
		margin-right: 15px
		white-space: nowrap

.bb-solid-2-animatedLines
	.js-arts-split-text__line
		border-bottom: 2px solid
