// Display headings
+typography-preset('display-xxl')
+typography-preset('display-xl')
+typography-preset('display-caps')

// h1 – h6
@for $i from 1 through 6
	+typography-preset-tag('h#{$i}')

// Subheading (small caps)
+typography-preset('subheading')
.subheading
	text-transform: uppercase

// Overlay Menu Item
+typography-preset('overlay-menu-item')

// Overlay Submenu item
+typography-preset('overlay-submenu-item')

// Paragraph
+typography-preset('paragraph')

// UI Element
+typography-preset('ui-element')

// Dropcap
+typography-preset('dropcap')

// Super (small label next to a heading)
+typography-preset('super-label')

// Links
a
	+trans1(color)
	text-decoration: none
	color: var(--color-links)
	&:hover
		color: var(--color-accent)
		text-decoration: none
		// *
		// 	color: var(--color-accent)
	*
		// +trans1(color)
		pointer-events: none
.strong
	font-weight: 700
.italic
	font-style: italic

.xxl
	@include fluid-type(var(--display-xxl-min-font-size), var(--display-xxl-max-font-size))
	font-weight: var(--display-xxl-font-weight)
	letter-spacing: var(--display-xxl-letter-spacing)

.xl
	@include fluid-type(var(--display-xl-min-font-size), var(--display-xl-max-font-size))
	font-weight: var(--display-xl-font-weight)
	letter-spacing: var(--display-xl-letter-spacing)

h1, h2, h3
	+fluid('margin-top', 16, 24)
	+fluid('margin-bottom', 16, 24)
h4, h5, h6
	+fluid('margin-top', 16, 24)
	+fluid('margin-bottom', 16, 24)
p
	margin-top: 1em
	margin-bottom: 1em
	letter-spacing: -0.5px
	line-height: 1.4
	+fluid('font-size', 15, 19)
	letter-spacing: 0.1px

body
	+fluid('font-size', 15, 19)

.nm-paragraph
	p
		margin: 0	

.mb-paragraph
	p
		margin-top: 0
		margin-bottom: 4px
	
li
	letter-spacing: -0.5px
	color: var(--color-dark-4)


.paragraph-1, .paragraph-1 p
	+fluid('font-size', 17, 21)
	line-height: 1.6
	font-weight: 300

.paragraph-2, .paragraph-2 p
	+fluid('font-size', 16, 19)
	line-height: 1.6
	font-weight: 400

.paragraph-3, .paragraph-3 p
	+fluid('font-size', 14, 16)
	line-height: 1.3
	font-weight: 600

.paragraph-4, .paragraph-4 p
	+fluid('font-size', 15, 17)
	line-height: 1.4
.small
	text-transform: uppercase
	font-weight: 700
	+fluid('font-size', 11, 11)
	line-height: 1
	letter-spacing: 1px

blockquote
	display: block
	@include fluid-type(var(--blockquote-min-font-size), var(--blockquote-max-font-size))
	line-height: var(--blockquote-line-height)
	letter-spacing: calc(var(--blockquote-letter-spacing) * 1px)
	font-style: italic
	margin-top: 1.5em
	margin-bottom: 1.5em
	padding: 1.5em
	border: 1px solid var(--color-border-opacity)
	border-radius: 4px
	p
		margin-top: 0
		@include fluid-type(var(--blockquote-min-font-size), var(--blockquote-max-font-size))
		line-height: var(--blockquote-line-height)
		&:last-child, &:last-of-type
			margin-bottom: 0
	cite
		display: block
		margin-top: 1em
		@include fluid-type(var(--paragraph-min-font-size), var(--paragraph-max-font-size))
		line-height: 1
		color: var(--paragraph-color)
		font-style: normal
		font-weight: bold
	svg
		+fluid('max-width', 30, 50)
		height: auto
		margin-top: 4px
		fill: currentColor

+max-screen-md
	.color-md-dark-2
		color: var(--color-dark-2)