.w-30
	width: 30% !important

.w-35
	width: 35% !important

.w-33
	width: 33% !important

.w-40
	width: 40% !important

.w-55
	width: 55% !important

+max-screen-xs
	.w-xs-100
		width: 100% !important

+min-screen-sm
	.w-md-20
		width: 20% !important
	.w-md-25
		width: 25% !important

	.w-md-50
		width: 50% !important
	.w-md-40
		width: 40% !important
	.w-md-60
		width: 60% !important

+min-screen-md
	.w-lg-10
		width: 10% !important
	.w-lg-15
		width: 15% !important
	.w-lg-20
		width: 20% !important
	.w-lg-25
		width: 25% !important

	.w-lg-30
		width: 30% !important

	.w-lg-33
		width: 33% !important

	.w-lg-35
		width: 35% !important

	.w-lg-40
		width: 40% !important
	.w-lg-45
		width: 45% !important	

	.w-lg-50
		width: 50% !important

	.w-lg-55
		width: 55% !important

	.w-lg-66
		width: 66% !important
	.w-lg-80
		width: 80% !important	
	.w-lg-85
		width: 85% !important	
	.w-lg-90
		width: 90% !important


		