<div class="container bg-dark-2" style="max-width: 1200px">
  <div class="row">
    <div class="w-lg-35 w-md-40 w-xs-100 p-0">
      <div class="js-parallax h-100" data-arts-component-name="Parallax"
        data-arts-component-options="{inner: {factor: {y: 0.1}}}" data-arts-os-animation="true">
        <div class="overflow-hidden h-100" data-arts-os-animation-name="animatedMaskFromTop">
          <div class="js-animated-mask-inner h-100">
            <img class="lazy of-cover js-parallax__inner"
              src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='100%25'%20height='100%25'%3E%3C/svg%3E"
              decoding="async" data-src="img/home/img_early_bird_registration.jpg" width="900" height="776" alt="" />

          </div>
        </div>
      </div>

    </div>
    <div class="w-lg-55 w-md-60 w-xs-100 d-flex align-items-center">
      <div class="text-strong py-4 px-2 px-md-3 px-lg-4" data-arts-split-text-preset="animatedLines">
        <h2 class="h1 lh-1-1 mb-4">Early Bird Registration until <span class="fw-bold">4, 2024</span> </h2>

        <div class="mt-3 mb-3 mb-lg-0">
          <a class="button button_bordered padding_big" href="#">
            <span class="button__label button__label-normal">
              <span class="button__title">Register here</span>

            </span>
            <span class="button__label button__label-hover">
              <span class="button__title">Register here</span>

            </span>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>