<div class="container" data-arts-os-animation-name="animatedJump">
  <a class="mb-5 button button_icon button_bordered color-dark-2 padding_big" href="#">
    <span class="button__label button__label-normal">
      <span class="button__icon button__icon_before material-symbols-outlined">
        credit_card
      </span>
      <span class="button__title">Payment Terms</span>

    </span>
    <span class="button__label button__label-hover">
      <span class="button__icon button__icon_before material-symbols-outlined">
        credit_card
      </span>
      <span class="button__title">Payment Terms</span>

    </span>
  </a>
  <div class="d-flex justify-content-center">
    <span class="ico-size-2 material-symbols-outlined color-dark-2 me-2">
      mail
    </span>
    <h5 class="h4 m-0 fw-500"> Have a question?
      <a class="color-dark-2 text-decoration-underline fw-700"
        href="maitlo:watercongress@gecamin.com">watercongress@gecamin.com</a>
    </h5>
  </div>
</div>