<div class="footer__area bt-auto">
					<div class="container-fluid-gutters">
						<div class="row align-items-start footer__row-pb-medium">
							<div class="col-12 col-lg-3 col-md-6 footer__column-pt-medium">
								<section class="widget widget_text">
									<h2 class="widget__title h6 strong">Office</h2>
									<div class="textwidget">
										<p>1157 Wexford Way<br>Rock
											Hill<br>SC 29730<br>USA</p>
									</div>
								</section>
							</div>
							<div class="col-12 col-lg-3 col-md-6 footer__column-pt-medium">
								<section class="widget widget_text">
									<h2 class="widget__title h6 strong">Phones</h2>
									<div class="textwidget">
										<p>+1 803-328-5035<br>+1
											281-664-7875</p>
									</div>
								</section>
							</div>
							<div class="col-12 col-lg-3 col-md-6 footer__column-pt-medium">
								<section class="widget widget_nav_menu">
									<h2 class="widget__title h6 strong">Quick
										Links</h2>
									<div>
										<ul class="menu-column">
											<li class="menu-item"><a href="index.html">Home
													(demo index)</a></li>
											<li class="menu-item"><a
													href="03-04-fullscreen-sliders-rectangle-mask.html">Portfolio</a>
											</li>
											<li class="menu-item"><a
													href="08-01-03-inner-pages-services.html">Services</a></li>
											<li class="menu-item"><a href="08-01-04-inner-pages-about.html">About</a>
											</li>
											<li class="menu-item"><a href="08-02-02-blog-posts-grid.html">Blog</a></li>
											<li class="menu-item"><a
													href="08-01-06-inner-pages-contacts.html">Contacts</a></li>
										</ul>
									</div>
								</section>
							</div>
							<div class="col-12 col-lg-3 col-md-6 footer__column-pt-medium">
								<section class="widget widget_nav_menu">
									<h2 class="widget__title h6 strong">Latest
										Works</h2>
									<div>
										<ul class="menu-column">
											<li class="menu-item"><a href="06-01-01-project-details.html">Emptiness</a>
											</li>
											<li class="menu-item"><a href="06-01-02-project-details.html">Silent
													Listener</a></li>
											<li class="menu-item"><a href="06-01-03-project-details.html">Good
													Vibes
													Only</a></li>
											<li class="menu-item"><a href="06-01-04-project-details.html">Working
													Remotely</a></li>
										</ul>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
				<div class="footer__area bt-auto">
					<div class="container-fluid-gutters">
						<div class="row align-items-center footer__row-pb-small">
							<div class="col-12 col-md-3 order-md-3 footer__column-pt-small text-md-end text-center">
								<section class="widget widget_asli_soc1al">
									<ul class="soc1al soc1al_borders-opacity-no-cursor">
										<li class="soc1al__item"><a class="soc1al__icon fa-fw fab fa-facebook-f"
												href="#" target="_blank" aria-label="Facebook link"
												data-arts-cursor-follower-target="{highlight: false, magnetic: 0.33, scale: 'current', hideNative: false}"></a>
										</li>
										<li class="soc1al__item"><a class="soc1al__icon fa-fw fab fa-instagram" href="#"
												target="_blank" aria-label="Instagram link"
												data-arts-cursor-follower-target="{highlight: false, magnetic: 0.33, scale: 'current', hideNative: false}"></a>
										</li>
										<li class="soc1al__item"><a class="soc1al__icon fa-fw fab fa-behance" href="#"
												target="_blank" aria-label="Behance link"
												data-arts-cursor-follower-target="{highlight: false, magnetic: 0.33, scale: 'current', hideNative: false}"></a>
										</li>
										<li class="soc1al__item"><a class="soc1al__icon fa-fw fab fa-pinterest" href="#"
												target="_blank" aria-label="Pinterest link"
												data-arts-cursor-follower-target="{highlight: false, magnetic: 0.33, scale: 'current', hideNative: false}"></a>
										</li>
									</ul>
								</section>
							</div>
							<div class="col-12 col-md-3 order-md-1 footer__column-pt-small text-md-start text-center">
								<section class="widget widget_asli_inline_links">
									<div>
										<ul class="inline-links">
											<li><a href="#">Terms</a></li>
											<li><a href="#">Privacy
													Policy</a></li>
										</ul>
									</div>
								</section>
							</div>
							<div class="col-12 col-md-6 order-md-2 footer__column-pt-small text-center">
								<section class="widget widget_text">
									<div class="textwidget">© 2023 Asli –
										AJAX Portfolio HTML5 Template.
										Crafted by <a href="https://artemsemkin.com/" target="_blank">Artem
											Semkin.</a></div>
								</section>
							</div>
						</div>
					</div>
				</div>