<div data-arts-component-name="Swipper" data-arts-os-animation="true" data-arts-component-options="{
									autoplay: {
										delay: 6000
									},
									slidesPerView: 1.3,
									loop: true,
									spaceBetween: 30,
									grabCursor: true
								}">
  <div class="swiper section-fullheight__inner pt-header-height">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="b-radius" src="img/venue/img_galeria_1.jpg" width="1920" height="1280" alt="" />
      </div>
      <div class="swiper-slide">
        <img class="b-radius" src="img/venue/img_galeria_1.jpg" width="1920" height="1280" alt="" />
      </div>
       <div class="swiper-slide">
        <img class="b-radius" src="img/venue/img_galeria_1.jpg" width="1920" height="1280" alt="" />
      </div>
      




    </div>
    <div class="swiper-pagination"></div>
  </div>

</div>
