<!-- Top bar -->
<div class="header__bar header__bar_fixed borders-auto-opacity-solid d-flex js-header__bar">

	<!-- logo -->
	<a class="header__col header__col_left header__col_center" href="index.html">
		<div class="logo__wrapper-img">
			<img src="img/logo/logo.svg" width="160" height="20" loading="eager" alt="Water Congress 2024" />
		</div>
	</a>

	<!-- Menu [desktop] -->
	<div class="header__col header__col d-none d-lg-flex ms-auto">
		<!-- Menu -->
		<ul class="menu-classic">
			<li class="current-menu-item">
				<a href="authors.html">Authors</a>
			</li>
			<li>
				<a href="students.html">Students</a>
			</li>
			<li>
				<a href="committees.html">Committees</a>
			</li>
			<li>
				<a href="program.html">Program</a>
			</li>
			<li>
				<a href="sponsors.html">Sponsors</a>
			</li>
			<li>
				<a href="venue.html">Venue</a>
			</li>
			<li>
				<a class="register" href="registration.html">
					<span class="material-symbols-outlined">
						person_check
					</span> Register
				</a>
			</li>
		</ul>
		<!-- Language -->
		<ul class="menu-language">
			<li>
				<a href="#">ESP</a>
			</li>
			<li class="current-menu-item">
				<a href="#">ENG</a>
			</li>
		</ul>
	</div>

	<!-- Burger [mobile] -->
	<a class="header__col header__col_right header__burger ms-auto d-inline-flex d-lg-none js-header__overlay-switcher"
		href="#" rel="nofollow">
		<div class="header__burger-wrapper-lines">
			<div class="header__burger-line"></div>
			<div class="header__burger-line"></div>
			<div class="header__burger-line"></div>
		</div>
	</a>

</div>
<!-- Overlay menu [mobile] -->
<div class="header__wrapper-overlay-menu js-header__overlay-container bg-light-1" data-arts-color-theme="light">
	<div class="header__overlay-inner js-header__overlay-container-inner">
		<!-- menu -->
		<div class="w-100 header__col-overlay">
			<ul class="menu-overlay">

				<li>
					<a class="overlay-menu-item" href="authors.html" data-arts-split-text-preset="overlayMenuItem">
						<div class="menu-overlay__heading">Authors</div>
					</a>
				</li>
				<li>
					<a class="overlay-menu-item" href="committees.html" data-arts-split-text-preset="overlayMenuItem">
						<div class="menu-overlay__heading">Students</div>
					</a>
				</li>
				<li>
					<a class="overlay-menu-item" href="committees.html" data-arts-split-text-preset="overlayMenuItem">
						<div class="menu-overlay__heading">Commitees</div>
					</a>
				</li>
				<li>
					<a class="overlay-menu-item" href="program.html" data-arts-split-text-preset="overlayMenuItem">
						<div class="menu-overlay__heading">Program</div>
					</a>
				</li>
				<li>
					<a class="overlay-menu-item" href="sponsors.html" data-arts-split-text-preset="overlayMenuItem">
						<div class="menu-overlay__heading">Sponsors</div>
					</a>
				</li>
				<li>
					<a class="overlay-menu-item" href="venue.html" data-arts-split-text-preset="overlayMenuItem">
						<div class="menu-overlay__heading">Venue</div>
					</a>
				</li>
				<li>
					<a class="overlay-menu-item register d-flex justify-content-center" href="registration.html"
						data-arts-split-text-preset="overlayMenuItem">
						<div class="d-flex justify-content-center align-items-center">
							<span class="material-symbols-outlined">
								person_check
							</span> Register
						</div>
					</a>



				</li>
			</ul>

		</div>
		<!-- widgets -->
		<div class="w-100 header__col-widgets">
			<!-- widget TEXT -->
			<div class="header__widget js-header__overlay-widget">
				<ul class="menu-language">
					<li>
						<a href="#">ESP</a>
					</li>
					<li class="current-menu-item">
						<a href="#">ENG</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>