<!-- Top bar -->
		<div class="header__bar header__bar_fixed borders-auto-opacity-solid d-flex js-header__bar"
			data-arts-color-theme="light" data-arts-header-logo="primary" data-arts-header-sticky-logo="primary"
			data-arts-header-sticky-class="bg-light-4">

			<!-- logo -->
			<a class="header__col header__col_left header__col_center header__col_logo logo" href="index.html">
				<div class="logo__wrapper-img">
					<img class="logo__img-primary" src="img/logo/logo.svg" width="160" height="20" loading="eager"
						alt="Logo page" />
				</div>
			</a>

			<!-- Menu [desktop] -->
			<div class="header__col header__col d-none d-lg-flex ms-auto">
				<!-- Menu -->
				<ul class="menu-classic">
					<li class="current-menu-item">
						<a href="#">Authors</a>
					</li>
					<li>
						<a href="#">Students</a>
					</li>
					<li>
						<a href="#">Commitees</a>
					</li>
					<li>
						<a href="#">Program</a>
					</li>
					<li>
						<a href="#">Sponsors</a>
					</li>
					<li>
						<a href="#">Venuem</a>
					</li>
					<li>
						<a class="register" href="#">
							<span class="material-symbols-outlined">
								person_check
							</span> Register
						</a>
					</li>
				</ul>
				<!-- Language -->
				<ul class="menu-language">
					<li>
						<a href="#">ESP</a>
					</li>
					<li class="current-menu-item">
						<a href="#">ENG</a>
					</li>
				</ul>
			</div>

			<!-- Burger [mobile] -->
			<a class="header__col header__col_right header__burger ms-auto d-inline-flex d-lg-none js-header__overlay-switcher"
				href="#" rel="nofollow">
				<div class="header__burger-wrapper-lines">
					<div class="header__burger-line"></div>
					<div class="header__burger-line"></div>
					<div class="header__burger-line"></div>
				</div>
			</a>

		</div>
		<!-- Overlay menu [mobile] -->
		<div class="header__wrapper-overlay-menu js-header__overlay-container bg-light-4" data-arts-color-theme="light">
			<div class="header__overlay-inner js-header__overlay-container-inner">
				<!-- menu -->
				<div class="w-100 header__col-overlay">
					<ul class="menu-overlay">

						<li>
							<a class="overlay-menu-item" href="#" data-arts-split-text-preset="overlayMenuItem">
								<div class="menu-overlay__heading">Authors</div>
							</a>
						</li>
						<li>
							<a class="overlay-menu-item" href="#" data-arts-split-text-preset="overlayMenuItem">
								<div class="menu-overlay__heading">Students</div>
							</a>
						</li>
						<li>
							<a class="overlay-menu-item" href="#" data-arts-split-text-preset="overlayMenuItem">
								<div class="menu-overlay__heading">Students</div>
							</a>
						</li>
						<li>
							<a class="overlay-menu-item" href="#" data-arts-split-text-preset="overlayMenuItem">
								<div class="menu-overlay__heading">Students</div>
							</a>
						</li>
						<li>
							<a class="overlay-menu-item" href="#" data-arts-split-text-preset="overlayMenuItem">
								<div class="menu-overlay__heading">Commitees</div>
							</a>
						</li>
						<li>
							<a class="overlay-menu-item" href="#" data-arts-split-text-preset="overlayMenuItem">
								<div class="menu-overlay__heading">Program</div>
							</a>
						</li>
						<li>
							<a class="overlay-menu-item" href="#" data-arts-split-text-preset="overlayMenuItem">
								<div class="menu-overlay__heading">Sponsors</div>
							</a>
						</li>
						<li>
							<a class="overlay-menu-item" href="#" data-arts-split-text-preset="overlayMenuItem">
								<div class="menu-overlay__heading">Venue</div>
							</a>
						</li>






					</ul>
					<!-- Submenu back button --><a
						class="header__col header__overlay-menu-back js-header__overlay-submenu-back" href="#"
						rel="nofollow"
						data-arts-cursor-follower-target="{delegate: true, magnetic: 0.1, scale: 1.2, hideNative: false}">
						<div class="header__arrow-back" data-arts-cursor-follower-delegated="true">
							<div class="header__arrow-back-line"></div>
							<div class="header__arrow-back-line"></div>
							<div class="header__arrow-back-line"></div>
						</div>
						<div class="header__label ms-2">
							<div class="header__label_opened-back">Back</div>
							<div class="header__label_opened-hover">Back</div>
						</div>
					</a>
					<!-- - Submenu back button -->
					<!-- Current submenu label -->
					<div class="header__col header__overlay-submenu-status color-accent">
						<div class="header__label header__submenu-label">
							<div class="header__label_opened-current js-header__overlay-label-opened-current"></div>
							<div class="header__label_opened-next js-header__overlay-label-opened-next"></div>
						</div>
					</div>
					<!-- - Current submenu label -->
				</div>
				<!-- widgets -->
				<div class="w-100 header__col-widgets">
					<!-- widget TEXT -->
					<div class="header__widget js-header__overlay-widget">
						<div class="header__widget-title subheading">E-mail</div>
						<div class="header__widget-content h6"><a href="mailto:asli@example.com">asli@example.com</a>
						</div>
					</div>
					<!-- - widget TEXT -->
					<!-- widget TEXT -->
					<div class="header__widget js-header__overlay-widget">
						<div class="header__widget-title subheading">Phones</div>
						<div class="header__widget-content h6">+1 803-328-5035<br>+1 281-664-7875
						</div>
					</div>
					<!-- - widget TEXT -->
					<!-- widget TEXT -->
					<div class="header__widget js-header__overlay-widget">
						<div class="header__widget-title subheading">Address</div>
						<div class="header__widget-content h6">1157 Wexford Way<br>Rock Hill, SC 29730<br>USA
						</div>
					</div>
					<!-- - widget TEXT -->
				</div>
			</div>
		</div>