<!-- Top bar -->
<div class="header__bar header__bar_fixed borders-auto-opacity-solid d-flex js-header__bar bg-dark-2"
	data-arts-color-theme="dark" >

	<!-- logo -->
	<a class="header__col header__col_left header__col_center" href="mobile-home.html">
		<div class="logo__wrapper-img">
			<img src="img/logo/logo-light.svg" width="160" height="20" loading="eager" alt="Water Congress 2024" />
		</div>
	</a>

	<!-- Burger [mobile] -->
	<a class="header__col header__col_right header__burger ms-auto d-inline-flex js-header__overlay-switcher" href="#"
		rel="nofollow">
		<div class="header__burger-wrapper-lines">
			<div class="header__burger-line"></div>
			<div class="header__burger-line"></div>
			<div class="header__burger-line"></div>
		</div>
	</a>

</div>
<!-- Overlay menu [mobile] -->
<div class="header__wrapper-overlay-menu js-header__overlay-container bg-dark-2" data-arts-color-theme="dark">
	<div class="header__overlay-inner js-header__overlay-container-inner">
		<!-- menu -->
		<div class="w-100 header__col-overlay">
			<ul class="menu-overlay">

				<li>
					<a class="overlay-menu-item" href="mobile-home.html"
						data-arts-split-text-preset="overlayMenuItem">
						<div class="menu-icon">
							<img src="img/icons/icon_menu.svg" width="20" height="17" />
						</div>
						<div class="menu-overlay__heading">Home</div>
					</a>
				</li>
				<li>
					<a class="overlay-menu-item" href="mobile-technical_social_program.html"
						data-arts-split-text-preset="overlayMenuItem">
						<div class="menu-icon">
							<img src="img/icons/icon_menu.svg" width="20" height="17" />
						</div>
						<div class="menu-overlay__heading">Technical & Social Program</div>
					</a>
				</li>
				<li>
					<a class="overlay-menu-item" href="mobile-sponsors.html"
						data-arts-split-text-preset="overlayMenuItem">
						<div class="menu-icon">
							<img src="img/icons/icon_menu.svg" width="20" height="17" />
						</div>
						<div class="menu-overlay__heading">Sponsors</div>
					</a>
				</li>
				<li>
					<a class="overlay-menu-item" href="mobile-floor-map.html" data-arts-split-text-preset="overlayMenuItem">
						<div class="menu-icon">
							<img src="img/icons/icon_menu.svg" width="20" height="17" />
						</div>
						<div class="menu-overlay__heading">Floor Map</div>
					</a>
				</li>
				<li>
					<a class="overlay-menu-item" href="mobile-general-information.html"
						data-arts-split-text-preset="overlayMenuItem">
						<div class="menu-icon">
							<img src="img/icons/icon_menu.svg" width="20" height="17" />
						</div>
						<div class="menu-overlay__heading">General Information</div>
					</a>
				</li>
			</ul>

		</div>
		<!-- pdf + lenaguage -->
		<div class="w-100 header__col-widgets">

			<!-- pdf -->
			<div class="header__widget js-header__overlay-widget">
				<a class="overlay-menu-item d-flex" href="#">
					<div class="menu-icon">
						<img src="img/icons/icon_menu.svg" width="20" height="17" />
					</div>
					<div class="menu-overlay__heading">Download PDF</div>
				</a>
			</div>

			<!-- lenguage -->
			<div class="header__widget js-header__overlay-widget">
				<ul class="menu-language mt-3">
					<li>
						<a href="#">ESP</a>
					</li>
					<li class="current-menu-item">
						<a href="#">ENG</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>