<div class="container">
  <div class="row">
    <h1 class="mb-4" data-arts-split-text-preset="animatedLines">Our Sponsors</h1>
    <div class="col-md-3" data-arts-os-animation-name="animatedJump">
      <h6>Main Sponsor</h6>
      <div class="lazy-wrapper">
        <img class="lazy of-cover"
          src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='100%25'%20height='100%25'%3E%3C/svg%3E"
          decoding="async" data-src="img/home/logo_arcadis.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-3" data-arts-os-animation-name="animatedJump">
      <h6>Main Sponsor</h6>
      <div class="lazy-wrapper">
        <img class="lazy of-cover"
          src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='100%25'%20height='100%25'%3E%3C/svg%3E"
          decoding="async" data-src="img/home/logo_arcadis.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-3" data-arts-os-animation-name="animatedJump">
      <h6>Main Sponsor</h6>
      <div class="lazy-wrapper">
        <img class="lazy of-cover"
          src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='100%25'%20height='100%25'%3E%3C/svg%3E"
          decoding="async" data-src="img/home/logo_arcadis.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-3" data-arts-os-animation-name="animatedJump">
      <h6>Main Sponsor</h6>
      <div class="lazy-wrapper">
        <img class="lazy of-cover"
          src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='100%25'%20height='100%25'%3E%3C/svg%3E"
          decoding="async" data-src="img/home/logo_arcadis.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-3" data-arts-os-animation-name="animatedJump">
      <h6>Main Sponsor</h6>
      <div class="lazy-wrapper">
        <img class="lazy of-cover"
          src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='100%25'%20height='100%25'%3E%3C/svg%3E"
          decoding="async" data-src="img/home/logo_arcadis.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-3" data-arts-os-animation-name="animatedJump">
      <h6>Main Sponsor</h6>
      <div class="lazy-wrapper">
        <img class="lazy of-cover"
          src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='100%25'%20height='100%25'%3E%3C/svg%3E"
          decoding="async" data-src="img/home/logo_arcadis.jpg" alt="" />
      </div>
    </div>
  </div>
</div>