<!-- SWIPER SLIDER  -->
<div class="d-flex" data-arts-component-name="Swipper" data-arts-os-animation="true" data-arts-component-options="{
            autoplay: {
              delay: 6000
            },
            grabCursor: true
          }">
  <div class="swiper section-fullheight__inner pt-header-height">
    <div class="swiper-wrapper">



      <div class="swiper-slide">
        <div class="slider-fullpage-backgrounds__section">
          <!-- Content -->
          <div class="slider-fullpage-backgrounds__wrapper-content h-100 text-center">
            <div class="slider-fullpage-backgrounds__container">
              <div data-arts-split-text-preset="animatedLines">
                <h2 class="h3 fw-400 d-inline bb-solid-2 color-dark-1">September 4-6</h2>
                <h1 class="xl color-dark-1">Technical Courses <br>& Networking</h1>
                <div class="mt-xxsmall">
                  <a class="button button_bordered" href="#">
                    <span class="button__label button__label-normal">
                      <span class="button__title">Early Bird Registation</span>
                    </span>
                    <span class="button__label button__label-hover">
                      <span class="button__title">Early Bird Registation</span>
                    </span>
                  </a>
                </div>
              </div>

            </div>
          </div>

          <!-- Image -->
          <div class="slider-fullpage-backgrounds__wrapper-background">
            <video class="lazy of-cover of-cover-absolute" src="#"
              data-src="img/assets/postsPortfolio/project06/06-cover-1-landscape.mp4" width="1920" height="1080"
              autoplay="autoplay" playsinline="playsinline" muted="muted" loop="loop" crossorigin=""></video>
            <img class="lazy of-cover-absolute"
              src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='100%25'%20height='100%25'%3E%3C/svg%3E"
              decoding="async" data-src="img/assets/postsPortfolio/project06/06-cover-1-landscape.jpg" width="1920"
              height="1280" alt="" />
          </div>
          <!-- Overlay -->
          <div class="slider-fullpage-backgrounds__overlay overlay overlay_light overlay_opacity-20 ">
          </div>
        </div>
      </div>

      <div class="swiper-slide" data-arts-color-theme="dark">
        <div class="slider-fullpage-backgrounds__section">
          <!-- Content -->
          <div class="slider-fullpage-backgrounds__wrapper-content h-100 text-center">
            <div class="slider-fullpage-backgrounds__container">
              <div data-arts-split-text-preset="animatedLines">
                <h2 class="h3 fw-400 d-inline bb-solid-2">September 4-6</h2>
                <h1 class="xl">Technical Courses <br>& Networking</h1>
                <div class="mt-xxsmall">
                  <a class="button button_bordered" href="#">
                    <span class="button__label button__label-normal">
                      <span class="button__title">Early Bird Registation</span>
                    </span>
                    <span class="button__label button__label-hover">
                      <span class="button__title">Early Bird Registation</span>
                    </span>
                  </a>
                </div>
              </div>

            </div>
          </div>

          <!-- Image -->
          <div class="slider-fullpage-backgrounds__wrapper-background">
            <img class="lazy of-cover-absolute"
              src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='100%25'%20height='100%25'%3E%3C/svg%3E"
              decoding="async" data-src="img/assets/postsPortfolio/project05/05-cover-1-landscape.jpg" width="1920"
              height="1280" alt="" />
          </div>
          <!-- Overlay -->
          <div class="slider-fullpage-backgrounds__overlay overlay overlay_dark overlay_opacity-20 ">
          </div>
        </div>
      </div>


    </div>
    <div class="swiper-pagination"></div>
  </div>

</div>
<!-- MARQUEE  -->
<div class="section-fullheight__marquee" data-arts-component-name="Content" data-arts-os-animation="true"
  data-arts-color-theme="dark">
  <div class="row h-100" data-arts-os-animation-name="animatedReveal">
    <div id="wrapper-countdown" class="col-lg-6 col-xxl-5 d-flex align-items-center justify-content-center">

      <h5 class="h4 fw-500 m-0">See you in</h5>
      <div id="countdown" data-arts-component-name="CountDown"
        data-arts-component-options='{"countdownDate": "12 31, 2024 15:37:25", "expiredText": "Concluded"}'>

        <div class="days">
          <div class="number"></div>
          <div class="small">Days.</div>
        </div>
        <div class="hours">
          <div class="number"></div>
          <div class="small">hr.</div>
        </div>
        <div class="minutes">
          <div class="number"></div>
          <div class="small">min.</div>
        </div>
        <div class="seconds">
          <div class="number"></div>
          <div class="small">sec.</div>
        </div>
      </div>


    </div>

    <div class="d-none d-lg-flex col-lg-6 col-xxl-7" data-arts-component-name="MarqueeHeader">
      <div class="overflow-hidden h-100">
        <div class="d-flex flex-nowrap align-items-center h-100 text-nowrap js-marquee-header__list-lane">
          <div class="marquee-header__item d-inline-block js-marquee-header__list-item">
            <h1 class="my-0 js-marquee-header__label h3">Lorem ipsum dolor sit amet consectetur adipisicing
              elit.
            </h1>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
