<div class="container">
  <h1 class="mb-small" data-arts-split-text-preset="animatedLines">Registration</h1>
  <div data-arts-component-name="Tabs" data-arts-os-animation="true">
    <div class="tab-menu" data-arts-split-text-preset="animatedLines">
      <a data-tab="tab-1">Normal Payment</a>
      <a data-tab="tab-2">Early Bird Payment <span>20% Dto.</span></a>
    </div>
    <div id="tab-1" class="row b-solid-black">
      <div class="col-md-6 col-lg-4" data-arts-os-animation-name="animatedJump">
        <div style="max-width: 320px; margin: 0 auto">
          <h4 class="h3 fw-500 mt-0 mb-3">General</h4>
          <h4 class="h2 fw-500 m-0">$1070 <span class="h5 color-dark-2 text-uppercase">usd</span></h4>
          <p class="color-dark-2 paragraph-3">* You can review the details of the services you will have access
            to by
            checking here.</p>
          <div class="mt-5">
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to all plenary and technical sessions</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to congress materials</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to all social activities</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Publication in the congress book</p>
            </div>
          </div>

          <div class="mt-5 text-center">
            <a class="button button_fullwidth color-dark-2" href="#">
              <span class="button__label button__label-normal">
                <span class="button__title">Get Started</span>

              </span>
              <span class="button__label button__label-hover">
                <span class="button__title">Get Started</span>
              </span>
            </a>
          </div>

        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-arts-os-animation-name="animatedJump">
        <div style="max-width: 320px; margin: 0 auto">
          <h4 class="h3 fw-500 mt-0 mb-3">General</h4>
          <h4 class="h2 fw-500 m-0">$1070 <span class="h5 color-dark-2 text-uppercase">usd</span></h4>
          <p class="color-dark-2 paragraph-3">* You can review the details of the services you will have access
            to by
            checking here.</p>
          <div class="mt-5">
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to all plenary and technical sessions</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to congress materials</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to all social activities</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Publication in the congress book</p>
            </div>
          </div>

          <div class="mt-5 text-center">
            <a class="button button_fullwidth color-dark-2" href="#">
              <span class="button__label button__label-normal">
                <span class="button__title">Get Started</span>

              </span>
              <span class="button__label button__label-hover">
                <span class="button__title">Get Started</span>
              </span>
            </a>
          </div>

        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-arts-os-animation-name="animatedJump">
        <div style="max-width: 320px; margin: 0 auto">
          <h4 class="h3 fw-500 mt-0 mb-3">General</h4>
          <h4 class="h2 fw-500 m-0">$1070 <span class="h5 color-dark-2 text-uppercase">usd</span></h4>
          <p class="color-dark-2 paragraph-3">* You can review the details of the services you will have access
            to by
            checking here.</p>
          <div class="mt-5">
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to all plenary and technical sessions</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to congress materials</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to all social activities</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Publication in the congress book</p>
            </div>
          </div>

          <div class="mt-5 text-center">
            <a class="button button_fullwidth color-dark-2" href="#">
              <span class="button__label button__label-normal">
                <span class="button__title">Get Started</span>

              </span>
              <span class="button__label button__label-hover">
                <span class="button__title">Get Started</span>
              </span>
            </a>
          </div>

        </div>
      </div>



    </div>
    <div id="tab-2" class="row b-solid-black">
      <div class="col-md-6 col-lg-4" data-arts-os-animation-name="animatedJump">
        <div style="max-width: 320px; margin: 0 auto">
          <h4 class="h3 fw-500 mt-0 mb-3">General</h4>
          <h4 class="h2 fw-500 m-0">$1070 <span class="h5 color-dark-2 text-uppercase">usd</span></h4>
          <p class="color-dark-2 paragraph-3">* You can review the details of the services you will have access
            to by
            checking here.</p>
          <div class="mt-5">
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to all plenary and technical sessions</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to congress materials</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to all social activities</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Publication in the congress book</p>
            </div>
          </div>

          <div class="mt-5 text-center">
            <a class="button button_fullwidth color-dark-2" href="#">
              <span class="button__label button__label-normal">
                <span class="button__title">Get Started</span>

              </span>
              <span class="button__label button__label-hover">
                <span class="button__title">Get Started</span>
              </span>
            </a>
          </div>

        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-arts-os-animation-name="animatedJump">
        <div style="max-width: 320px; margin: 0 auto">
          <h4 class="h3 fw-500 mt-0 mb-3">General</h4>
          <h4 class="h2 fw-500 m-0">$1070 <span class="h5 color-dark-2 text-uppercase">usd</span></h4>
          <p class="color-dark-2 paragraph-3">* You can review the details of the services you will have access
            to by
            checking here.</p>
          <div class="mt-5">
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to all plenary and technical sessions</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to congress materials</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to all social activities</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Publication in the congress book</p>
            </div>
          </div>

          <div class="mt-5 text-center">
            <a class="button button_fullwidth color-dark-2" href="#">
              <span class="button__label button__label-normal">
                <span class="button__title">Get Started</span>

              </span>
              <span class="button__label button__label-hover">
                <span class="button__title">Get Started</span>
              </span>
            </a>
          </div>

        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-arts-os-animation-name="animatedJump">
        <div style="max-width: 320px; margin: 0 auto">
          <h4 class="h3 fw-500 mt-0 mb-3">General</h4>
          <h4 class="h2 fw-500 m-0">$1070 <span class="h5 color-dark-2 text-uppercase">usd</span></h4>
          <p class="color-dark-2 paragraph-3">* You can review the details of the services you will have access
            to by
            checking here.</p>
          <div class="mt-5">
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to all plenary and technical sessions</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to congress materials</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Access to all social activities</p>
            </div>
            <div class="icon-list">
              <div class="material-symbols-outlined">
                done
              </div>
              <p>Publication in the congress book</p>
            </div>
          </div>

          <div class="mt-5 text-center">
            <a class="button button_fullwidth color-dark-2" href="#">
              <span class="button__label button__label-normal">
                <span class="button__title">Get Started</span>

              </span>
              <span class="button__label button__label-hover">
                <span class="button__title">Get Started</span>
              </span>
            </a>
          </div>

        </div>
      </div>



    </div>
  </div>
</div>